<h4>Nuevo Producto</h4>
  <div class="row">

      <div class="col-xl-12">
        <div>
              <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input [(ngModel)]="producto.nombre" name="nombre" #name="ngModel" type="text" class="form-control" id="nombre" required>
              </div>
              <div class="form-group">
                  <label for="precio">Precio</label>
                  <input [(ngModel)]="producto.precio" #name="ngModel" type="number" class="form-control" name="precio" required>
              </div>
              <div class="form-group">
                  <label for="observaciones">Observaciones</label>
                  <textarea [(ngModel)]="producto.observaciones" #name="ngModel" name="observaciones" id="observaciones" class="form-control" rows="3" required></textarea>
              </div>
              <div class="form-group">
                  <label for="cantidad">Cantidad</label>
                  <input [(ngModel)]="producto.cantidad" #name="ngModel" type="number" class="form-control" name="cantidad" required>
              </div>
              <div class="form-group">
                  <label for="estado">Estado</label>
                    <div class="form-check">
                      <input class="form-check-input" [(ngModel)]="producto.estado" #name="ngModel" type="checkbox" value="disponible" id="estado" checked>
                      <label class="form-check-label" for="estado">
                        Disponible
                      </label>
                    </div>
              </div>
              <div class="form-group">
                 <div class="mb-3">
                      <label for="imagen" class="form-label">Imagen</label>
                      <!--<input [(ngModel)]="producto.imagen" #name="ngModel" class="form-control" accept="image/*" type="file" id="imagen" name="imagen">-->
                      <input (change)="handleImage($event)" class="form-control" type="file" id="imagen"  name="imagen">
                  </div>
              </div>
              <div class="form-group">
                  <label for="ciudades">Ciudades</label>
                  <select class="form-select" [(ngModel)]="producto.ciudades" #name="ngModel"  multiple aria-label="multiple select" name="ciudades[]">
                      <option value="1" >Bogota</option>
                      <option value="2">Cali</option>
                      <option value="3">Medellin</option>
                  </select>

              </div>

              <br>
              <div class="form-group">
                  <button (click)="saveProducto()"  class="btn btn-primary">Guardar</button>
                  <input type="reset" class="btn btn-danger" value="Cancelar">
                  <a href="javascript:history.back()">Regresar</a>
              </div>

            </div>
      </div>
  </div>

